body {
  margin: 0;
}

blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

iframe {
  border: none;
}

/* Settings */

:root {
  --color-copy: #16355f;
  --color-light: #fafafa;
}

/* Typography */

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-copy);
  background-color: var(--color-light);
  font: 400 16px/1.625 'SF Pro Text', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (750 - 320));
}

@media (min-width: 750px) {
  body {
    font-size: 25px;
  }
}

a {
  color: inherit;
}

.center {
  text-align: center;
}

h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.content * + * {
  margin-top: 1.5rem;
}

.content * + h2 {
  margin-top: 2.5rem;
}

.content,
.content h2 {
  counter-reset: contentCounter;
}

.content [counter] {
  position: relative;
  counter-increment: contentCounter;
}

.content [counter]:before {
  content: counter(contentCounter) '. ';
  font-weight: 600;
}

@media (min-width: 880px) {
  .content [counter]:before {
    position: absolute;
    margin-right: 1rem;
    right: 100%;
    top: 0;
  }
}

code {
  font-size: 0.8em;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.1em;
}

pre {
  line-height: 1;
  background: rgba(0, 0, 0, 0.05);
  padding: 0.5em;
}

pre code {
  background: transparent;
}

.content hr {
  margin: 2em 0;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Grid */

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.insulate {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Header */

[role='banner'] {
  background: #fff
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iNzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGgxMkw2IDEyIDAgMHptMTggMzZoMTJsLTYgMTItNi0xMnoiIGZpbGw9IiNFQkY0RjEiIGZpbGwtcnVsZT0ibm9uemVybyIgZmlsbC1vcGFjaXR5PSIuNSIvPjwvc3ZnPg==);
}

[role='banner'] img {
  margin: 0 auto;
  max-width: 75%;
}

[role='banner'] nav a {
  margin: 0 0.5em;
  font-size: 0.8em;
}

/* Footer */

[role='contentinfo'] {
  padding-top: 1em;
  padding-bottom: 1em;
}
